.option-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
}

.option-selector > .option {
    border: 1px solid transparent;
    border-radius: 4px;
}

.option-selector > .option.selected {
    border-color: blue;
}

.option-selector > .option.disabled {
    opacity: .7;
}

.option-selector > .option.focused {
    outline: 2px solid blue;
    outline-offset: 2px;
}